@using ViVenty.WebUI.Models
@using ViVenty.WebUI.HtmlHelpers;
@model HsuitListViewModel

@{
    ViewBag.Title = "ViVenty Aqua Web Store";
}

<div class="row panel">
    <div id="categories" class="col-xs-2">
        @Html.Action("Menu", "Nav")
    </div>
    <table>
        <tr>
            @foreach (var p in Model.Hsuits)
            { 
                <td>
                    @Html.Partial("HsuitSummary", p)
                </td>
            }
        </tr>
    </table>
</div>



<div class="btn-group pull-left">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
