@using ViVenty.WebUI.Models
@using ViVenty.WebUI.HtmlHelpers;
@model HsuitListViewModel

@{
    ViewBag.Title = "ViVenty Aqua Web Store";
}

<div>
    <div id="categories" class="col-md-2">
        @Html.Action("Menu", "Nav")
    </div>

    <div class="container-fluid col-md-10" style="display:flex">
        @foreach (var p in Model.Hsuits)
        {
            <div class="col-md-3  well">
                @Html.Partial("HsuitSummary", p)
            </div>
        }
    </div>
</div>
<div class="btn-group col-md-offset-6">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>





