@using ViVenty.WebUI.Models
@using ViVenty.WebUI.HtmlHelpers;
@model HsuitListViewModel

@{
    ViewBag.Title = "ViVenty Aqua Web Store";
}

<div class="row panel">
    <div id="categories" class="col-xs-2">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="col-xs-3">

        @foreach (var p in @Model.Hsuits)
        {
            @Html.Partial("HsuitSummary", p)
        }
    </div>
</div>



<div class="btn-group pull-left">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>
