
@{
    ViewBag.Title = "Заказ принят";
}

<h2>Спасибо!</h2>
<p>
    Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен в службу доставки
    <br />Номер вашего заказа @ViewBag.Id
</p>

