
@{
    ViewBag.Title = "Index";
}

<div class="row panel">
    <div class="col-md-10">
        <img src="~/Images/Main_Surfer.jpg" width="" />
    </div>
    <div class="col-md-10">
        <h3>Океан зовет тебя</h3>
        <text><strong>Будте готовы покорять его во всеоружии</strong></text>
    </div>
</div>


