
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <table align="center">
        <tr>
            <td class="col-md-8">
                <img class="images" src="~/Images/Capture.jpg" />
            </td>
            <td class="col-md-1"></td>
            <td class="col-md-2" style="text-align:center">
                <strong style="font-size: 54px">Океан зовет тебя</strong>
                <br/><strong style="font-size: 15px">Будьте готовы покорять его во всеоружии</strong>
                <br/><text style="font-size: 12px">Добро пожаловать в Интернет-магазин купальников и пляжной одежды «Vi Venti». Здесь вы сможете приобрести одежду для водных видов спорта, купальники и гидрокостюмы.</text>
                <br/><a href="~/Hsuit/page1"><div class="btn">Начать покупки</div></a>
            </td>
            <td class="col-md-1"></td>
        </tr>
    </table>
</div>
