Косяки.txt
DataBase/
Image_sources/
packages/
ViVenty.WebUI/Web.config
ViVenty.WebUI/Properties/
ViVenty.Domain/bin
ViVenty.Domain/obj
ViVenty.WebUI/bin
ViVenty.WebUI/obj
ViVenty.UnitTests/bin/
ViVenty.UnitTests/obj
.vs
